@charset "utf-8";
.mar_5 {
    margin: 0 0 0 10px;
}
.maroon {
    color: red;
    margin-right: 5px;
}
.form-group.error input, .form-group.error select, .form-group.error textarea {
    border-color: #f09784;
    color: #d68273;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-group.error .control-label, .form-group.error .help-block, .form-group.error .help-inline {
    color: #d16e6c;
}
.fHidden {
    display: none;
}
.Kreplaybox .media_preview_area{width:328px;}
.modal-body{overflow-y:auto;overflow-x: hidden;}
.media_preview_area:hover .com_mask {
    display: block
}

.media_preview_area.selected .com_mask {
    display: block
}
.actips {
    position:absolute;
    width: 100%;
    top:86px;
}
.actips .tips{
    background-color: #ffb752;
    z-index: 1;
    width: 400px;
    line-height: 30px;
    height: 30px;
    margin: 0 auto;
    color:#FFF;
    text-align: center;
    border-radius: 0 0 2px 2px;
    font-size:14px;
}
.com_mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity = 60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
    z-index: 1
}

.media_preview_area.selected .icon_item_selected {
    display: inline-block
}

.icon_item_selected {
    background: transparent url(../img/admin/icon_item_selected.png) no-repeat 0 0;
    width: 75px;
    height: 60px;
    vertical-align: middle;
    display: inline-block
}

.media_preview_area .icon_item_selected {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -33px;
    line-height: 999em;
    overflow: hidden;
    z-index: 1
}
.u-chooses .media_preview_area:hover .icon_item_selected{display: inline-block;font-style:normal;background:none;line-height: 60px;color:#FFF;font-size:16px;text-align:center;}
.u-chooses #aj_box{height:auto;}
#prebox{margin:0 auto;width:49%;}
#prebox, #prebox a{cursor:default;text-decoration: none;}
#prebox .media_preview_area{width:auto;display:block;}
#prebox .appmsg_item { position: relative; padding: 12px 14px; border-top: 1px solid #d3d3d3;}
#prebox .appmsg_item .appmsg_thumb { float: right; width: 78px; height: 78px; margin-left: 14px;}
.appmsg_item .appmsg_title { line-height: 24px; max-height: 48px; overflow: hidden; margin-top: 14px;}
.multbox .appmsg_title { font-size: 14px; padding-top: 0;}
.appmsg_item:after { content: "\200B";  display: block; height: 0; clear: both;}
.cover_appmsg_item { position: relative; margin:12px 14px;}
.cover_appmsg_item .appmsg_title { position: absolute; margin:0; padding:0 4px;color: #fff;bottom: 0; left: 0; width: 100%; background: rgba(0,0,0,0.6)!important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000')}

/*弹出框CSS*/
#aj_box{overflow-y: auto;height: 340px;}
.media_preview_area {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    font-size: 14px;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
}
.appmsg {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	border-radius: 5px;
    cursor: pointer;
}
.appmsg_content {
	padding: 0 14px;
	border-bottom: 1px solid #d3d3d3;
	position: relative;
}
.appmsg_title {
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	padding-top: 6px;
	line-height: 28px;
	max-height: 56px;
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: normal;
	word-break: normal;
}
.appmsg_title a {
	display: block;
	color: #222;
}
.appmsg_info {
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 6px;
}
.appmsg_thumb_wrp {
	height: 160px;
	overflow: hidden;
}
.appmsg_thumb {
	width:100%
}
.appmsg_thumb.default {
	display: block;
	color: #c0c0c0;
	text-align: center;
	line-height: 160px;
	font-weight: 400;
	font-style: normal;
	background-color: #ececec;
	font-size: 22px;
}
.appmsg_desc {
	padding: 5px 0 10px;
	white-space: pre-wrap;
	word-wrap: normal;
	word-break: normal;
}