@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p{font-family: "Microsoft Yahei"}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }
ul li{list-style:none;}
.mtm{margin-top:10px!important;}.mbm{margin-bottom:10px!important;}
.e_btn1 {
    position: relative;
    padding: 4px 12px;
    color: #444;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.e_btn1:hover {
    text-shadow: none;
    border-color: #c6c6c6;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
    background-position: 0 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.table.account thead th, .table.account td{
    text-align: center;
}
.al-center{text-align: center;}
.wc_actions .e_btn1{display: block;width: 100px;margin:0 auto;}
.e_btn1 i{margin-right: 5px;}
.mar_5 {
    margin: 0 0 0 10px;
}
.maroon {
    color: red;
    margin-right: 5px;
}
.ttp {
    margin:0 0 5px 0;
    padding-top: 10px;
    border-top: 2px solid #DBDBDB;
    background: transparent;
}
.ttp li {
    float: left;
    padding-bottom: 5px;
}
.ttp a {
    border: 1px solid #D4D4D4;
}
.ttp a, .ttp strong {
    float: left;
    margin-right: 5px;
    padding: 4px 8px 3px;
    height: 30px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 3px;
    color:#444;
}

.ttp .a a, .ttp .a a:hover {
    border: 1px solid #6699CC;
    color: #FFF;
    text-decoration: none;
    background-color:#6699CC;
}
.ttp .num {
    background: #999;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 3px;
    color: #FFF;
    font-size: 12px;
}
.ttp .a .num {
    background: #FFF;
    color: #666;
}
.alert{
    padding: 8px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f9edbe;
    border: 1px solid #f0c36d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #333333;
}
.form-group.error input, .form-group.error select, .form-group.error textarea {
    border-color: #f09784;
    color: #d68273;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-group.error .control-label, .form-group.error .help-block, .form-group.error .help-inline {
    color: #d16e6c;
}
.fHidden {
    display: none;
}
.pipe{margin:0 10px;}
.Kreplaybox .media_preview_area{width:328px;}
.media_preview_area:hover .com_mask {
    display: block
}
.media_preview_area.selected .com_mask {
    display: block
}
.u-chooses .media_preview_area .icon_item_selected{width:100px;font-size:12px;}
.icon_item_selected .delitem, .icon_item_selected .editem{cursor: pointer}
.page_tips {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 2000;
}
.page_tips .inner {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    min-width: 250px;
    padding: 5px 30px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    color: #fff
}
.page_tips.success .inner {
    background-color: #6bb05e;
    border: 1px solid #549249;
    border-top-width: 0
}

.page_tips.error .inner {
    background-color: #eaa000;
    border: 1px solid #b98710;
    border-top-width: 0
}
.com_mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity = 60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
    z-index: 1
}

.media_preview_area.selected .icon_item_selected {
    display: inline-block
}

.icon_item_selected {
    background: transparent url(../img/admin/icon_item_selected.png) no-repeat 0 0;
    width: 75px;
    height: 60px;
    vertical-align: middle;
    display: inline-block
}

.media_preview_area .icon_item_selected {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -33px;
    line-height: 999em;
    overflow: hidden;
    z-index: 1
}
.u-chooses .media_preview_area:hover .icon_item_selected{display: inline-block;font-style:normal;background:none;line-height: 60px;color:#FFF;font-size:16px;text-align:center;}
.u-chooses #aj_box{height:auto;}
#prebox{margin:0 auto;width:49%;}
#prebox, #prebox a{cursor:default;text-decoration: none;}
#prebox .media_preview_area{width:auto;display:block;}
#prebox .appmsg_item { position: relative; padding: 12px 14px; border-top: 1px solid #d3d3d3;}
#prebox .appmsg_item .appmsg_thumb { float: right; width: 78px; height: 78px; margin-left: 14px;}
.appmsg_item .appmsg_title { line-height: 24px; max-height: 48px; overflow: hidden; margin-top: 14px;}
.multbox .appmsg_title { font-size: 14px; padding-top: 0;}
.appmsg_item:after { content: "\200B";  display: block; height: 0; clear: both;}
.cover_appmsg_item { position: relative; margin:12px 14px;}
.cover_appmsg_item .appmsg_title { position: absolute; margin:0; padding:0 4px;color: #fff;bottom: 0; left: 0; width: 100%; background: rgba(0,0,0,0.6)!important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000')}

/*弹出框CSS*/
#aj_box{overflow-y: auto;height: 340px;}
.media_preview_area {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    font-size: 14px;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
}
.appmsg {
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	border-radius: 5px;
}

.appmsg_content {
	padding: 0 14px;
	border-bottom: 1px solid #d3d3d3;
	position: relative;
}
.appmsg_title {
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	padding-top: 6px;
	line-height: 28px;
	max-height: 56px;
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: normal;
	word-break: normal;
}
.appmsg_title a {
	display: block;
	color: #222;
}
.appmsg_info {
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 6px;
}
.appmsg_thumb {
	width:100%
}
.appmsg_thumb.default {
	display: block;
	color: #c0c0c0;
	text-align: center;
	line-height: 160px;
	font-weight: 400;
	font-style: normal;
	background-color: #ececec;
	font-size: 22px;
}
.appmsg_desc {
	padding: 5px 0 10px;
	white-space: pre-wrap;
	word-wrap: normal;
	word-break: normal;
}
.modal-dialog{
    width:960px;
}
#aj_box{
    position: relative;
    padding: 28px 140px;
    height: 340px;
    text-align: justify;
    overflow-y: scroll;
}